* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  gap:1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: 350px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 34px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 20px;
  margin-top: 10px;
  color:crimson;
}

.card p{
    margin-top:10px ;
    font-size: 14px;
}