* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@mixin heading($bg-color) {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 4vw;
  background-color: aquamarine;
}

h1 {
  @include heading(blue);
}
h2 {
  @include heading(red);
}
