*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "header header header"
                         "section section section"
                         "div1 div2 div3"
    ;

}

header{
    background-color: green;
    grid-area: header;
}

section{
    background-color: red;
    grid-area: section;
}

#div1{
    background-color: brown;
    grid-area:div1;
}
#div2{
    background-color: brown;
    grid-area:div2;
}
#div3{
    background-color: brown;
    grid-area:div3;
}