body {
  background-color: black;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: tomato;
  color: white;
  border-radius: 10px;
  z-index: 1000;
}

h1 {
  transition: 0.1s all ease-in-out;
  animation: anime1;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

@keyframes anime1 {
  from {
    transform: scale(1.8);
    /* transform: rotate(10deg); */
  }
  to {
    transform: scale(1.0);
    /* transform: roate(-10deg); */
  }
}
