* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: halloween;
  src: url(font/DevilCandleAlt_PERSONAL_USE_ONLY.otf);
}
@font-face {
  font-family: halloween2;
  src: url(font/HALLOWEEN.ttf);
}
@font-face {
  font-family: october crow;
  src: url(font/October\ Crow.ttf);
}
@font-face {
  font-family: Midnight;
  src: url(font/MidnightMinutes_DEMO.otf);
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.container {
  position: relative;
}

.hero {
  height: 100vh;
  background-image: url(./halloween.jpg);
  background-size: cover;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.hero h1 {
  font-size: 90px;
  font-family: october crow;
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9), 0 0 12px rgba(255, 0, 0, 0.8),
    0 0 30px rgba(255, 34, 0, 0.4);
  letter-spacing: 2px;
  text-align: center;
  margin-top: 100px;
  margin-left: 50px;
}

.hero p {
  text-align: center;
  font-family: "Cinzel", serif;
  color: #fff203;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  margin-top: 20px;
}

.hero .buttons {
  height: 20px;
  margin-left: 50px;
  margin-top: 80px;
}

.buttons button {
  background: linear-gradient(145deg, #0c0c0c, #1a1a1a);
  color: #e0e0e0;
  border: 1px solid #8b0000; /* dark red border */
  border-radius: 6px;
  padding: 0.8em 1.6em;
  font-family: "Cinzel", serif;
  box-shadow: 0 0 10px rgba(139, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}

.skeleton {
  position: absolute;
  bottom: 2px; /* distance from bottom */
  left: 20px;  /* distance from right */
  width: 100px; /* control size */
  height: 100px;
  z-index: 10; /* stay above background but below text */
}

.skeleton img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 6px rgba(0,0,0,0.6)); /* adds depth */
}
