* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: monospace;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 35%;
    height: 35vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 2rem;
}

.text span{
    color:blue;
   
}
.progress-bar{
    width: 100%;
    height: 20px;
    background-color: gray;
    border-radius: 50px;
}

.progress{
    width: 0;
    height: 20px;
    background-color: green;
    border-radius: 50px;
}

.download-info{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-info h3{
    font-size: 40px;
}

.download-info button{
    padding: 0.5rem 2rem;
    border:1px solid lightgray;
    background-color: green;
    color:white;
    border-radius: 10px;
}
.download-time-style{
    background:linear-gradient(to left, green,rgb(251, 255, 4));
    padding: 0.2rem 1rem;
    border:1px solid lightgray;
    border-radius: 20px;
    transition: all ease 1s;
}